name: Create new Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - 'composer.json'
      - 'package.json'
      - 'CHANGELOG.md'
jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 2
      matrix:
        php-versions: [ 8.3, 8.4 ]

    name: Test on PHP ${{ matrix.php-versions }}
    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: intl, mbstring

      - name: Cache composer dependencies
        uses: actions/cache@v3
        with:
          path: ~/.composer/cache
          key: php-${{ matrix.php-versions }}-composer-${{ hashFiles('composer.lock') }}

      - name: Install composer dependencies
        run: composer update

      - name: Run PHPunit
        run: composer run test:unit:coverage:clover

  release:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v1
      - name: Create Changelog and bump release version
        uses: labor-digital/conventional-release-action@master
        with:
          github-token: ${{ secrets.github_token }}
